.articleCard {
  width: 100%;
  box-shadow: 0 2px 8px rgb(0 0 0 / 12%);
  margin: 30px;
  border-radius: 15px;
  height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.articleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #3f51b5 !important;
}
.articleHeader > h3 {
  font-size: 19px !important;
  }
.articleContent {
  width: -webkit-fill-available;
  height: 70px;
  padding: 5px 20px;
  overflow: hidden;
}

.heart {
  color: red !important;
  font-size: 20px !important;
}
.articleComments > p {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.readMore {
  color: blue;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  margin-left: 88%;
}
.articleComments {
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.commentSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.6;
}
.commentSection > input {
  outline-width: 0;
  border: 2px solid #02021d;
  border-radius: 10px;
  padding: 6px 20px;
  width: 60%;
  margin-right: 30px;
}
.commentSection > button {
  padding: 3px 6px;
  border-radius: 50px;
  color: white;
  background-color: #3f51b5 !important;
  border: 2px solid #3f51b5 !important;
  width: 86px;
  outline-width: 0;
  cursor: pointer;
  margin-left: auto;
}
.paper {
  outline-width: 0;
  border: none !important;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 0 2px 8px rgb(0 0 0 / 12%);
  margin: 40px 100px;
  border-radius: 15px;
  padding: 16px 32px 24px;
  height: -webkit-fill-available;
}
.paperHeader {
  display: flex;
  position: sticky !important;
  align-items: center;
  justify-content: space-between;
}
.paperHeader > h2{
  font-size: 15px;
        font-weight: 500;
        color: rgb(0 0 0);
}
.close {
  color: rgb(32, 36, 87);
  cursor: pointer;
  transition: 0.5s ease-in;
  padding: 5px;
}
.close:hover {
  color: white;
  cursor: pointer;
  background-color: rgb(43, 46, 92);
  border-radius: 50%;
  padding: 5px;
}
.content {
  padding: 30px;
  height: 267px;
  overflow: scroll;
}
.paper > h3 {
  font-size: 14px;
  font-weight: 500;
}
.singleComment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
.singleComment-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.singleComment-top > p {
  margin-left: 20px;
}
.singleComment-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
